<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分析结果图表</title>


    {% load static %}
    <script src="{% static "js/Chart.js" %}"></script>


    <style>
     #abcd {
        position: relative;
        width: 400px;
        {#height: 200px;#}
      }
    </style>

</head>
<body background="http://pic.58pic.com/58pic/15/82/38/18P58PIChcB_1024.jpg">

    {% csrf_token %}

    <div><p>商品名称：{{ taobao_name }}</p></div>
    <div><p>收录时的商品价格：{{ taobao_price }}元</p></div>
    <div><p>收录的时间：{{ taobao_time }}</p></div>
    <div><p>{{ empty_bar }}</p></div>
    <div><p>{{ empty_pie }}</p></div>
    <div><p>{{ empty_three }}</p></div>
    <div><p>{{ empty_point }}</p></div>

{#    创建容器#}
    <div id="abcd"><canvas id="popChart"></canvas></div>
    <div id="abcd"><canvas id="pieChart"></canvas></div>
    <div id="abcd"><canvas id="threeChart"></canvas></div>
    <div id="abcd"><canvas id="pointChart"></canvas></div>

    <script>
        {#画柱状图#}
        var popCanvas = document.getElementById("popChart").getContext("2d");
        var barChart = new Chart(popCanvas, {
            type: 'bar',
            data: {
                labels: [{{ barlables }}],
                datasets: [{
                    fillColor : "rgba(0,0,0,0.5)",
                    label: '评论分值排列',
                    data: [{{ bardata }}],
                    backgroundColor: [
                        {% autoescape off %}
                            {{ barcolor }}
                        {% endautoescape %}
                    ]
                }]
            },
            options:{
                legend:{display:false},
                title: {
                    display: true,
                    text: '好评度分布图'
                }
            }
        });


        {#画总体评价饼图#}
        var pieCanvas = document.getElementById("pieChart").getContext("2d");
        var pieChart = new Chart(pieCanvas, {
            type: 'pie',
            data: {
              labels: {% autoescape off %}{{ pielables }}{% endautoescape %},
              datasets: [{
                fillColor : "rgba(220,220,220,0.5)",
                label: '评分',
                data: {% autoescape off %}{{ piedata }}{% endautoescape %},
                backgroundColor: [
                    {% autoescape off %}
                    {{ piecolor }}
                    {% endautoescape %}
                ]
              }]
            },
            options:{
                legend:{display:true},
                title: {
                    display: true,
                    text: '整体评价分布图'
                }
            }
        });

        {#画好中差评价饼图#}
        var threeCanvas = document.getElementById("threeChart").getContext("2d");
        var threeChart = new Chart(threeCanvas, {
            type: 'pie',
            data: {
              labels: {% autoescape off %}{{ threelables }}{% endautoescape %},
              datasets: [{
                fillColor : "rgba(220,220,220,0.5)",
                label: '评分',
                data: {% autoescape off %}{{ threedata }}{% endautoescape %},
                backgroundColor: [
                    {% autoescape off %}
                    {{ threecolor }}
                    {% endautoescape %}
                ]
              }]
            },
            options:{
                legend:{display:true},
                title: {
                    display: true,
                    text: '好评、中评、差评分布图'
                }
            }
        });


          {#画好中差评价饼图#}
        var pointCanvas = document.getElementById("pointChart").getContext("2d");
        var pointChart = new Chart(pointCanvas, {
            type: 'line',
            data: {
                labels: [{% autoescape off %}{{ pointlables }}{% endautoescape %}],
                datasets: [{
                    fillColor : "rgba(220,220,220,0.5)",
                    label: '历史价格',
                    data: {% autoescape off %}{{ pointdata }}{% endautoescape %},
                    backgroundColor: [
                        {% autoescape off %}
                            {{ pointcolor }}
                        {% endautoescape %}
                    ]
                }]
            },
            options:{
                legend:{display:false},
                title: {
                    display: true,
                    text: '历史价格折线图'
                }
            }
        });




    </script>
</body>
</html>


