<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分析结果图表</title>


    {% load static %}
    <script src="{% static "js/Chart.js" %}"></script>


    <style>
     #abcd {
        position: relative;
        width: 400px;
        {#height: 200px;#}
      }
    </style>

</head>
<body>

    {% csrf_token %}
    <div><p>{{ taobao_name }}</p></div>
{#    创建容器#}
    <div id="abcd"><canvas id="popChart"></canvas></div>
    <div id="abcd"><canvas id="pieChart"></canvas></div>

    <script>
        {#画柱状图#}
        var popCanvas = document.getElementById("popChart").getContext("2d");
        var barChart = new Chart(popCanvas, {
            type: 'bar',
            data: {
                labels: [{{ barlables }}],
                datasets: [{
                    fillColor : "rgba(0,0,0,0.5)",
                    label: '评论分值排列',
                    data: [{{ bardata }}],
                    backgroundColor: [
                        {% autoescape off %}
                            {{ barcolor }}
                        {% endautoescape %}
                    ]
                }]
            },
            options:{
                legend:{display:false},
                title: {
                    display: true,
                    text: '好评度分布'
                }
            }
        });


        {#画饼图#}
        var pieCanvas = document.getElementById("pieChart").getContext("2d");
        var pieChart = new Chart(pieCanvas, {
            type: 'pie',
            data: {
              labels: {% autoescape off %}{{ pielables }}{% endautoescape %},
              datasets: [{
                fillColor : "rgba(220,220,220,0.5)",
                label: '评分',
                data: {% autoescape off %}{{ piedata }}{% endautoescape %},
                backgroundColor: [
                    {% autoescape off %}
                    {{ piecolor }}
                    {% endautoescape %}
                ]
              }]
            }
        });


    </script>
</body>
</html>


