<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Taobao Serach</title>

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
    .box{width: 1200px;height: auto;margin: 0 auto;}
    </style>

    <script>

        {#设置iframe自动适应高度宽度#}
        function setIframeSize(iframe) {
            if (iframe) {
                var iframeWin = iframe.contentWindow || iframe.contentDocument.parentWindow;
                if (iframeWin.document.body) {
                    iframe.height = iframeWin.document.documentElement.scrollHeight || iframeWin.document.body.scrollHeight;
                    iframe.width = iframeWin.document.documentElement.scrollWidth || iframeWin.document.body.scrollWidth;
                }
            }
            };

            window.onload = function () {
                setIframeSize(document.getElementById('external-frame'));
            };

        {#接收发送多个url#}
        function more_url() {
            urls = $("#input_url").val()
            for (let url of my_split(urls)){
                send_url(url)
            }

        }

        {#改写split函数#}
        function my_split(urls) {
            var temp = urls.split(/[\n,]/g);
            for (var i = 0;i < urls.length; i++){
                if (temp[i] == ""){
                    temp.split(i ,1);
                    {#删除数组中空值#}
                    i--;
                }
            }
            return temp
        }

        {#AJAX传递URL,单条url方法#}
        function send_url(url) {
            if (url == "")
            {
                alert("请输入url");
                return
            }
            else {
                if(url.substring(0,37) == "https://item.taobao.com/item.htm?spm="){
                    console.log("url格式正确")
                }else {
                    alert("url格式不正确，请重新输入！")
                    return
                }
            }
            if ($("#cbCheckbox1").val() == "true"){
                var email = $("#emailinput").val();
                if (email == ""){
                    alert("请输入邮箱或取消勾选")
                    $("#emailinput").val('');
                    return
                }
                else if (email != ""){
                    var reg = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/;
                    isok = reg.test(email);
                    if(!isok){
                        alert("邮箱格式不正确，请重新输入！")
                        $("#emailinput").val('');
                        return false
                    }else {
                        ajax_post(url, email)
                    }
                }
            }else if ($("#cbCheckbox1").val() == "false"){
                var email = "none"
                ajax_post(url, email)
            }
            else {
                console.log("准备发送ajax请求时未知错误")
            }
        }

        function ajax_post(url, email) {
            htmlobj = $.ajax(
                {
                    url:"get_taobao_url/",
                    timeout:1000,
                    data:{csrfmiddlewaretoken:'{{ csrf_token }}',
                    taobao_url:url,
                    email:email},
                    type:"post",
                    success:function(result) {
                        console.log("发送成功！");
                        console.log(result);

                        {#$("#request_id").html(result);#}
                        var patrn = /^(-)?\d+(\.\d+)?$/;
                        if (patrn.exec(result) == null || result == "") {
                            return false
                            alert(result)
                        } else {
                            $("ol").append("<iframe src=\"analyse/?taobao_id="+result+"\" frameborder=\"0\" scrolling=\"no\" id=\"external-frame\" onload=\"setIframeSize(this)\"></iframe>");
                            console.log("生产iframe成功！");
                            return true
                        }
                    }
                }
            )}

        {#清空结果#}
        function clear_iframe() {
            console.log("按下清除");
            $("#ol1").remove();
            $("p").after("<ol id=\"ol1\"></ol>");
            $("#input_url").val('');
        }
    </script>
</head>
<body>
    {% csrf_token %}


{#    提交窗口#}
    <form role="form">
	<div class="form-group">
        <div class="box">
            <label for="name"><h3>请输入URL：输入完整商品URL，若想输入多个商品请以回车分隔</h3></label>
            <textarea class="form-control" rows="8" id="input_url"></textarea>
            <ol2><input type="checkbox" id="cbCheckbox1" value="false" />请勾选以填写邮箱</ol2>

            <div>
                <button type="button" class="btn btn-primary" onclick="more_url()">提交按钮</button>
                <button type="button" class="btn btn-primary" onclick="clear_iframe()">清除结果</button>
            </div>
        </div>
        <p id="request_id"></p>
        <ol id="ol1"></ol>

	</div>

    </form>

</body>
</html>

<script type="text/javascript">

    $("#cbCheckbox1").click(function () {
        if ($(this).prop("checked")) {
        	$("ol2").append("<div id = \"divbr\">在此处填写您的邮箱，将会在分析结束后及时得到邮件提醒：<input type=\"email\" id=\"emailinput\" placeholder=\"test@example.com\"></div>")
            $("#cbCheckbox1").val("true");
        } else {
            $("#divbr").remove();
            $("#cbCheckbox1").val("false");
        }
    });

</script>